body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Login Page */
#login-page {
    background: red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#keypad {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    gap: 10px;
}

#keypad button {
    width: 60px;
    height: 60px;
    font-size: 20px;
}

#passwordInput {
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
    width: 180px;
}

/* Hidden Content */
.hidden {
    display: none;
}

/* Countdown Page */
#countdown-page {
    background: pink;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Album Page */
#album-page {
    background: purple;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery img, .gallery video {
    width: 200px;
    margin: 10px;
}

/* Letter Page */
#letter-page {
    background: purple;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
